.breadcrumbs {
    width: 100%;
    margin-bottom: 30px;

    @media (max-width: 768px) {
        margin-bottom: 40px;
    }

    ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    li {
        display: flex;
        align-items: center;

        &:not(:has(a)) {
            color: #9a9a9a;
        }
    }

    .dot {
        margin: 0 10px;
        display: block;
        width: 3px;
        height: 3px;
        flex: 0 0 auto;
        border-radius: 50%;
        background-color: #3a3a3a;
    }
}
